<h1>Datos del usuario</h1>
<div class="card card-sm">

  <p><strong>FIRSTNAME:</strong>{{user.first_name}} </p>
  <p><strong>LASTNAME:</strong>{{user.last_name}} </p>
  <p><strong>EMAIL:</strong>{{user.email}} </p>
  <p><strong>ROLE:</strong>{{user.role}} </p>

  <form action="/api/users/logout" method="post">
    <button type="submit">Salir</button>
  </form>
</div>


