<h1>{{title}}</h1>

<div class="container">
  <div class="card card-sm">
    <form action="/api/users/register" method="post">
      <label for="first_name">First Name</label>
      <input type="first_name" name="first_name" id="first_name" />
      <label for="last_name">Last Name</label>
      <input type="last_name" name="last_name" id="last_name" />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <label for="age">Edad</label>
      <input type="age" name="age" id="age" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button type="submit" class="right">Registrarse</button>
      <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión</a></p>
    </form>
  </div>
</div>
